
body{
    width: 100%;
    height: 140%;
    font-family: Tahoma;
    font-size: 25;
}

#menu{
  width: 100%;
  background-color: rgba(129, 125, 125, 0.9);
  float: right;
}

.navbar-brand{
    color: white !important;
}

.navbar li a{
    color: white !important;
}

.navbar li a:hover {
    color: black !important;
}

#gallery{
    width: 90%;
    height: 100%;
    float: right;
    margin: auto;
    z-index: 1;
}

.welcome hr{
    border-top: 2px solid rgba(129, 125, 125, 0.9);
    width: 85%;
    height: 2rem;
}

#footer{
  width: 100%;
  background-color:  #4d4e4e;
  float: left;
  clear: both;
}

#footer p{
  color: white;
}
#footer h1{
  color: white;
}
#footer h3{
  color: white;
}
/* ------------------------------- */

.sidebar-container {
  position: fixed;
  width: 10%;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(158, 158, 158, 0.9);
  color: #fff;
  z-index: -1;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color:  #4d4e4e;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #4d4e4e;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color:  #4d4e4e;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}